[[!meta title="Support"]]

<div id="page-support">

<div class="container">

<div id="doc">

<h1>Search the documentation</h1>

<p>Read the [[official documentation|doc]] to learn more about how Tails
works and maybe start answering your questions.</p>

<p>It contains:</p>
<ul>
  <li>general information about what Tails is,</li>
  <li>information to understand how it can help you and what its limitations are,</li>
  <li>how-tos on getting Tails to work,</li>
  <li>guides covering typical uses of Tails.</li>
</ul>

<p>[[Visit Tails documentation|doc]]</p>

</div> <!-- #doc -->

<div id="found_a_problem">

  <h1>Troubleshooting</h1>

  If you have found an error in Tails or if you would like to see a new feature in
  it, have a look at the [[support/troubleshooting]] page.

</div> <!-- #found_a_problem -->

</div> <!-- .container -->

<div id="talk">

  <h1>Get in touch with us</h1>

  [[!inline pages="support/talk" raw="yes"]]

</div> <!-- #talk -->

</div> <!-- #support -->
